
<!-- Footer -->
    <div class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>About Us</span></div>
              <ul>
                <li>
                  Fashion Trends is family owned online store dedicated for Indian Ethic Wears for new borns, infants, teens, young, adult and seniors. We have many varieties 
                </li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Information</span></div>
              <ul>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">FAQ</a></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Policy Privacy</a></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Terms and Conditions</a></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Shipping Methods</a></li>
              </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Categories</span></div>
              <ul>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Cras justo odio</a></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Dapibus ac facilisis in</a></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Morbi leo risus</a></li>
                <li><i class="fa fa-angle-double-right"></i> <a href="#">Porta ac consectetur ac</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Newsletter</span></div>
              <p>subscribe with us for more savings, coupons, deals for all occations</p>
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Email Address">
                <span class="input-group-btn">
                  <button class="btn btn-default subscribe-button" type="button">Subscribe</button>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Our Store</span></div>
              <ul class="footer-icon">
                <li><span><i class="fa fa-map-marker"></i></span> Bangalore</li>
                <li><span><i class="fa fa-phone"></i></span> +123-456-789</li>
                <li><span><i class="fa fa-envelope"></i></span> <a href="mailto:cs@domain.tld">cs@domain.tld</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Follow Us</span></div>
              <p>for latest posts, sales events etc on </p>
              <ul class="follow-us">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
              </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Payment Method</span></div>
              <p>Supported by PayTM</p>
              <img src="/images/payment-1.png" alt="Payment-1">
              <img src="/images/payment-2.png" alt="Payment-2">
              <img src="/images/payment-3.png" alt="Payment-3">
              <img src="/images/payment-4.png" alt="Payment-4">
              <img src="/images/payment-5.png" alt="Payment-5">
            </div>
            <div class="col-md-3 col-sm-6">
              <div class="title-footer"><span>Technology Partner</span></div>
              <ul>
                <li><a href="#">Thanuja Softwares and Solutions Private Limited</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center copyright">
          Copyright &copy; 2017 Thanuja Software Solutions All right reserved
        </div>
      </div>
      <!-- End Footer -->

      <a href="#top" class="back-top text-center" onclick="$('body,html').animate({scrollTop:0},500); return false">
        <i class="fa fa-angle-double-up"></i>
      </a>
  
      <div class="chooser chooser-hide">
        <div class="chooser-toggle"><button class="btn btn-warning" type="button"><i class="fa fa-paint-brush bigger-130"></i></button></div>
        <div class="chooser-content">
          <label>Color</label>
          <select name="color-chooser" id="color-chooser" class="form-control input-sm selectpicker">
            <option value="indigo">Indigo</option>
            <option value="red">Red</option>
            <option value="teal">Teal</option>
            <option value="brown">Brown</option>
          </select>
          <label class="m-t-1">Style</label>
          <select name="style-chooser" id="style-chooser" class="form-control input-sm selectpicker">
            <option value="flat">Flat</option>
            <option value="rounded">Rounded</option>
          </select>
        </div>
      </div>      
    </div>