    <!-- Middle Header -->
    <div class="middle-header">
        <div class="container">
          <div class="row">
            <div class="col-md-3 logo">
              <a href="/"><img alt="Logo" src="/images/logo-teal.png" class="img-responsive" data-text-logo="Fashion Legendary" /></a>
            </div>
            <div class="col-sm-8 col-md-6 search-box m-t-2">
              <!-- <div class="input-group">
                <input type="text" class="form-control search-input" aria-label="Search here..." placeholder="Search here...">
                <div class="input-group-btn">
                  <select class="selectpicker hidden-xs" data-width="150px">
                    <%
                      navigation.categories.forEach(function(category){
                    %>
                      <option value='<%= category %>'><%= category %></option>
                    <%
                    })
                    %>
                  </select>
                  <button type="button" class="btn btn-default btn-search"><i class="fa fa-search"></i></button>
                </div>
              </div> -->
            </div>
            <div class="col-sm-4 col-md-3 cart-btn hidden-xs m-t-2 hide" data-menu='c'>
              <a href="" class="btn btn-theme dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-shopping-cart"></i><span cart-checkout-attributes="cnt"></span>&nbsp;<span class="caret"></span></a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-cart">
                <div id="cart-checkout-items-placeholder"></div>
                <!-- <div class="subtotal-cart">Subtotal: <span cart-checkout-attributes="subtotal">0.00</span></div> -->
                <div class="text-center">
                    <br />
                    <div class="btn-group" role="group" aria-label="View Cart and Checkout Button">
                      <a href="/cart.html" class="btn btn-default btn-sm" type="button"><i class="fa fa-shopping-cart"></i> View Cart</a>
                      <!-- <a href="/checkout.html" class="btn btn-default btn-sm" type="button"><i class="fa fa-check"></i> Checkout</a> -->
                    </div>
                </div>
              </div>
              <!-- <a href="wishlist.html" class="btn btn-theme" data-toggle="tooltip" title="Wishlist" data-placement="bottom"><i class="fa fa-heart"></i>3</a> -->
            </div>
          </div>
        </div>
      </div>
      <!-- End Middle Header -->
  