    <!-- Top Header -->
    <div class="top-header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-inline pull-right">
                <li class="hidden-xs"><a href="/faq.html"><i class="fa fa-question-circle"></i> FAQ</a></li>
                <li class="hidden-xs"><a href="#"><i class="fa fa-phone"></i>&nbsp;<%= siteattributes.ccpno.value0 %></a></li>
                <li class="hidden-xs"><a href="mailto:<%= siteattributes.cceaddr.value0  %>"><i class="fa fa-envelope"></i>&nbsp;<%= siteattributes.cceaddr.value0 %></a></li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Header -->