<!-- Brand & Clients -->
<div class="row">
  <div class="col-xs-12 m-t-1">
    <div class="title text-center"><span>Brand & Clients</span></div>
    <div class="brand-slider owl-carousel owl-theme owl-controls-top-offset">
      <div class="brand">
        <a href=""><img src="images/demo/brand1.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand2.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand3.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand4.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand5.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand1.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand2.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand3.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand4.png" alt=""></a>
      </div>
      <div class="brand">
        <a href=""><img src="images/demo/brand5.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<!-- End Brand & Clients -->
    