    <!-- Full Slider -->
    <div class="container-fluid">
        <div class="row">
          <div class="owl-carousel owl-theme home-slider">
            <a href="products.html"><div class="item owl-cover" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-src="images/demo/slide-1-full.jpg"></div></a>
            <a href="products.html"><div class="item owl-cover" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-src="images/demo/slide-2-full.jpg"></div></a>
            <a href="products.html"><div class="item owl-cover" data-xs-height="220px" data-sm-height="350px" data-md-height="400px" data-lg-height="430px" data-src="images/demo/slide-3-full.jpg"></div></a>
          </div>
        </div>
      </div>
      <!-- End Full Slider -->
  