<!DOCTYPE html>
<html lang="en">
  <%- include('shared/head') %>

  <body class="fade-down">
        <!-- Main Content -->
        <div class="container m-t-2">
            <div class="row">
            </div>
        </div>
        
    <%- include('shared/footer') %>
    <%- include('shared/scripts') %>
  </body>
</html>